body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

.mainGrid, html, body {
  height: 100%;
  min-width: 400px;
  margin: 0;
}

.mainGrid{ 
  display: grid;
  min-height: 100%;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:  
  "header-wraper header-wraper header-wraper"
  "assideLeft portfolio-wrapper assideRight"
  "Footer Footer Footer"                                                                   

 }
/* mainGrid elements --------------------------- */



 #header-wraper {
  
  grid-area: header-wraper;
  background-color: aquamarine; 
  
  
 }


 #assideLeft {
  grid-area: assideLeft;
  background-color: beige;
  
 }
 #aassideRight {
  grid-area: assideRight;
  background-color: rgb(11, 146, 236);
   }

#portfolio-wrapper{
  grid-area: portfolio-wrapper;
  background-color: aqua;
}
#Footer {
  grid-area: Footer ;
  background-color:blueviolet;
}

/* mainGrid elements --------------------------- */


 /* no display ? */
 .page-banner-main {

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/02-hero-bg.jpg);

 }

/* NAV section */ 

#myName {
  display:block;
  flex-direction: row;
  align-items: flex-end;
  position: inherit;

  }

#myName h1 { /*name */
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
  padding: 2%;
  color: white;
  background-color: darkblue;
 
  
 } 

 /* about me */ 
#navigationGroup {
  display: flex;
  justify-content:right;
  position: inherit;
  gap: 1%;
  padding-right: 5%;
  
  
  

  
  
 }

#navigationGroup a  { /*kursor change on About */
  cursor: pointer;
  text-decoration: none;
  
  color: white;
  background-color: darkblue; /* buttons */
  border-radius: 3rem;
  padding: 1%;
  margin: 1%;
  
  
}

/* NAV section */







 /*------------------- bylo -------------- */
h1 {
  font-size: xx-large;
},
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color:yellowgreen;
}
